body {
  background-color: white;
  margin: 0%;
  height: 100vw;
}
#root {
  height: 100%;
}
#view-area {
  height: 100vh;
  // display: flex;
  // flex-direction: column;
}

@import "./components/headder.scss";
@import "./components/home.scss";
@import "./components/userPage.scss";
@import "./components/slideMenu.scss";
@import "./components/login.scss";
@import "./components/loading.scss";
@import "./components/events.scss";
